# BTC ML/DL Trading strategy

In [19]:
import sys, os, ipynbname
NOTEBOOK_NAME = f"{ipynbname.name()}.ipynb"
sys.path.append(os.path.abspath(os.path.join(os.path.dirname(NOTEBOOK_NAME), os.path.pardir)))

In [23]:
from src.Utils import *

## Preliminary data import & handling

In [21]:
# Importing Bitcoin pre-processed financial data
df = pq.read_pandas(source=f"{Utils.ASSETS_FOLDER}/parquet/{Utils.get_asset_id('Bitcoin')}.parquet").to_pandas()

In [22]:
# Displaying first rows
df.head()

,Count,Open,High,Low,Close,Volume,VWAP
timestamp,,,,,,,
2018-01-01 00:01:00,229,13835.194,14013.8,13666.11,13850.176,31.550062,13827.062093
2018-01-01 00:02:00,235,13835.036,14052.3,13680.00,13828.102,31.046432,13840.362591
2018-01-01 00:03:00,528,13823.900,14000.4,13601.00,13801.314,55.061820,13806.068014
2018-01-01 00:04:00,435,13802.512,13999.0,13576.28,13768.040,38.780529,13783.598101
2018-01-01 00:05:00,742,13766.000,13955.9,13554.44,13724.914,108.501637,13735.586842

In [24]:
# Some statistical analysis
df.describe()

,Count,Open,High,Low,Close,Volume,VWAP
count,2.136278e+06,2.136278e+06,2.136278e+06,2.136278e+06,2.136278e+06,2.136278e+06,2.136278e+06
mean,1.140431e+03,1.871015e+04,1.875142e+04,1.867531e+04,1.871015e+04,8.959506e+01,1.870998e+04
std,1.615133e+03,1.786562e+04,1.787513e+04,1.785035e+04,1.786564e+04,1.509393e+02,1.786544e+04
min,1.000000e+00,3.149657e+03,3.176910e+03,3.120000e+03,3.151545e+03,1.000000e-04,3.152326e+03
25%,3.170000e+02,7.123990e+03,7.146973e+03,7.109173e+03,7.124021e+03,2.910561e+01,7.123969e+03
50%,6.350000e+02,9.504575e+03,9.520100e+03,9.490330e+03,9.504526e+03,5.089676e+01,9.504545e+03
75%,1.380000e+03,3.223343e+04,3.229500e+04,3.217598e+04,3.223236e+04,9.409524e+01,3.223299e+04
max,8.747800e+04,6.898612e+04,6.902420e+04,6.873400e+04,6.897356e+04,1.040500e+04,6.889405e+04

## Data aggregation

We are encouraged to add:
- additional metrics (RSI, moving averages, ...) and indicators from technical analysis
- additional data sources (from historical data API including FTX or Binance APIs)
- use of resampling routine to:
    - identify patterns
    - reduce the length of our data sample

In [ ]:
# TODO

## Data pre-processing

In [ ]:
# Computation of the target

In [25]:
# Normalization (see YouTube)

In [ ]:
# X/Y split

In [ ]:
# Train/Test/Validation split

In [1]:
#