# ETH Trading strategy <span style="color:blue">using Transfer Learning</span>

In [1]:
import sys, os, ipynbname
NOTEBOOK_NAME = f"{ipynbname.name()}.ipynb"
sys.path.append(os.path.abspath(os.path.join(os.path.dirname(NOTEBOOK_NAME), os.path.pardir)))

In [2]:
from src.Utils import *

In [12]:
# Importing Ethereum pre-processed financial data
df = pq.read_pandas(source=f"{Utils.ASSETS_FOLDER}/parquet/{Utils.get_asset_id('Ethereum')}.parquet").to_pandas()

In [13]:
# Displaying first rows
df.head()

,Count,Open,High,Low,Close,Volume,VWAP
timestamp,,,,,,,
2018-01-01 00:01:00,173,738.3025,746.00,732.51,738.5075,335.987856,738.839291
2018-01-01 00:02:00,192,738.5075,745.14,732.49,738.2600,232.793141,738.268967
2018-01-01 00:03:00,120,738.3325,745.12,730.00,737.5025,174.138031,737.994457
2018-01-01 00:04:00,156,737.2225,744.69,728.93,737.1025,165.383926,737.303631
2018-01-01 00:05:00,118,736.5300,743.80,727.11,735.7050,193.078039,736.163026

In [14]:
# Some statistical analysis
df.describe()

,Count,Open,High,Low,Close,Volume,VWAP
count,2.136196e+06,2.136196e+06,2.136196e+06,2.136196e+06,2.136196e+06,2.136196e+06,2.136196e+06
mean,7.660613e+02,9.708055e+02,9.728268e+02,9.689103e+02,9.708086e+02,1.096097e+03,9.707977e+02
std,1.292310e+03,1.220119e+03,1.221372e+03,1.218739e+03,1.220125e+03,1.990393e+03,1.220113e+03
min,1.000000e+00,8.178300e+01,8.265000e+01,8.056000e+01,8.176683e+01,3.000000e-06,8.177974e+01
25%,1.650000e+02,1.873114e+02,1.877500e+02,1.870000e+02,1.873100e+02,2.709967e+02,1.873087e+02
50%,3.270000e+02,3.571524e+02,3.578400e+02,3.567000e+02,3.571561e+02,5.544550e+02,3.571512e+02
75%,8.860000e+02,1.279981e+03,1.285592e+03,1.272973e+03,1.279979e+03,1.162002e+03,1.279908e+03
max,6.625300e+04,4.864833e+03,4.868790e+03,4.859400e+03,4.864529e+03,1.120268e+05,4.864193e+03